/*-------------------------------------------------------- HOME --------------------------------------------------------*/
.home-root {
    grid-column: 1 / -1;
    height: 100%;
    width: 100%;
}

.toggle-entry-btn, .logout-btn {
    background-color: var(--light-red);
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.logout-btn {
    left: -40px;
    top: 5%;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.logout-btn-right {
    right: -40px;
    left: 0;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.toggle-entry-btn {
    right: -40px;
    top: 23%;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.toggle-entry-btn-left {
    right: auto;
    left: -40px;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.title-row {
    padding: 30px 30px 0 30px;
}

.book-text-left ,.book-text-right {
    line-height: 1.9;
    outline: none;
    overflow: hidden;
    scrollbar-gutter: stable;
    font-family: var(--text-font);
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 10px;
}

.book-text-left {
    height: 750px;
}

.book-text-right {
    height: 780px;
    overflow-y: auto !important;
}

.book-text-right::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
}

.book-text-right::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(99, 2, 2, 0.993);
}

.book-text-right::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .1);
}

.title-row input {
    width: 100%;
    font-size: 32px;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 1px solid #d8ccb2;
    padding-bottom: 10px;
    font-family: var(--title-font);
}

.book-text-left:empty::before, .book-text-right:empty::before {
    content: "Start writing on the left page...";
    color: #9C917A;
    font-style: italic;
}

.submit-btn {
    background-color: var(--light-red);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

@media (max-width: 900px) {
    .book-text {
        column-width: 100%;
        column-gap: 0;
        height: 60vh;
    }

    .toggle-entry-btn,
    .logout-button {
        writing-mode: horizontal-tb;
        text-orientation: initial;
        position: static;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    .submit-btn {
        position: static;
        width: 100%;
        margin-top: 10px;
    }
}

.home-container {
    grid-column: 1 / -1;
    height: 100%;
    width: 100%;
}

.entry-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.home-left-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--page-color);
    border-radius: 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.home-right-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--page-color);
    border-radius: 0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.spread-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    perspective: 2000px;
}

.spread-layer-under {
    position: absolute;
    inset: 0;
}

.spread-layer-top {
    position: absolute;
    inset: 0;
    z-index: 10;
}

.home-right-page {
    transform-origin: left center;
    backface-visibility: hidden;
}

.left-page {
    transform-origin: right center;
    backface-visibility: hidden;
}