/*-------------------------------------------------------- HOME --------------------------------------------------------*/
.home-root {
    grid-column: 1 / -1;
    height: 100%;
    width: 100%;
}

.toggle-entry-btn {
    background-color: #da7784;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    right: 10.5%;
    top: 31%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.logout-button {
    background-color: #c25362;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    right: 10.5%;
    top: 11%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    height: 100%;
    width: 100%;
    align-items: stretch;
}

.entry-container {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.title-row {
    padding: 30px 30px 10px 30px;
}

.book-text {
    flex: 1;
    column-count: 2;
    column-gap: 80px;
    padding: 10px 30px 40px 30px;
    line-height: 1.9;
    outline: none;
    height: 80vh;
}
.title-row input {
    width: 100%;
    font-size: 22px;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 1px solid #d8ccb2;
    padding-bottom: 10px;
}

.book-text:empty::before {
    content: "Start writing on the left page...";
    color: #9C917A;
    font-style: italic;
}

.submit-btn {
    background-color: #da7784;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
}